{
  "projects": {
    "prod": "[prod-firebase-project-id]",
    "test": "[test-firebase-project-id]"
  },
  "targets": {
    "[prod-firebase-project-id]": {
      "hosting": {
        "bibliotheca-site": [
          "[prod-sub-domain]"
        ]
      }
    },
    "[test-firebase-project-id]": {
      "hosting": {
        "bibliotheca-site": [
          "[test-sub-domain]"
        ]
      }
    }
  }
}