{
  "projects": {
    "prod": "bibliotheca-238406",
    "test": "bibliotheca-test"
  },
  "targets": {
    "bibliotheca-238406": {
      "hosting": {
        "bibliotheca-site": [
          "bibliotheca-pwa"
        ]
      }
    },
    "bibliotheca-test": {
      "hosting": {
        "bibliotheca-site": [
          "bibliotheca-test"
        ]
      }
    }
  }
}