{
  "apiKey": "XXXXX",
  "authDomain": "XXXXX.firebaseapp.com",
  "databaseURL": "https://XXXXX.firebaseio.com",
  "projectId": "XXXXX",
  "storageBucket": "XXXXX.appspot.com",
  "messagingSenderId": "XXXXX",
  "appId": "XXXXX"
}
