version: 2.1

workflows:
  main:
    jobs:
      - test
      - deploy:
          requires:
            - test
          filters:
            branches:
              only:
                - master

executors:
  default:
    working_directory: ~/repo

    docker:
      - image: node:8
commands:
  setup:
    steps:
      - checkout
      - run:
          name: setup .firebaserc
          command: cp .firebaserc.example .firebaserc
      - restore_cache:
          keys:
            - bibliotheca-pwa-v1-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - bibliotheca-pwa-v1-{{ .Branch }}
            - bibliotheca-pwa-v1-master
            - bibliotheca-pwa-v1-
      - run: yarn install

jobs:
  test:
    executor:
      name: default

    steps:
      - setup
      - save_cache:
          paths:
            - node_modules/
          key: bibliotheca-pwa-v1-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run: git diff --exit-code # check yarn.lock diff
      - run: yarn format-check
      - run: yarn tsc
      - run: yarn build
      - run: yarn test

  deploy:
    executor:
      name: default
    environment:
      REACT_APP_GSUITE_DOMAIN: opt.ne.jp
    steps:
      - setup
      - run: yarn build:prod
      - run: yarn run firebase use prod
      - run: yarn deploy
